body {
  font-family: "Inter", sans-serif;
  background-color: #dddddd;
}

/* Header */
#logoAlura {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 120px;
  height: 48px;
  left: 40px;
  top: 40px;
}

/* Main */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#mainArea {
  height: 90vh;
  display: grid;
  align-content: center;
  grid-template-rows: 80% auto auto;
}

#mainArea textarea {
  background-color: #dddddd;
  border: none;
  font-weight: 400;
  font-size: 32px;
  font-family: "Inter";
  font-style: normal;
  line-height: 150%;
  resize: none;
}

::-webkit-input-placeholder {
  color: #0a3871;
}

textarea {
  outline: none;
}

/*Aside*/
#rectangle {
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  text-align: center;
  height: 90vh;
}

#mainImg {
  padding-top: 10px;
}

#rectangleText {
  align-items: flex;
}

#rectangleText1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  font-weight: bold;
  color: #343a40;
  padding: 10px;
}

#rectangleText textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
  border: none;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

.bigTextArea {
  margin-top: 32px;
  font-size: 30px !important;
  font-weight: 500 !important;
}

#disclaimerImg {
  width: 16px;
  height: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#disclaimerText {
  width: 205px;
  height: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/*Buttons */

.button {
  box-sizing: border-box;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  text-align: center;
  color: #0a3871;
}

#encriptar {
  margin-right: 25px;
}

.button:hover {
  background: #0a3871;
  color: #d8dfe8;
}

#copiar {
  display: none;
  box-sizing: border-box;
  padding: 24px;
  width: 336px;
  height: 67px;
  top: 265px;
}

/*Especificaciones para tablets*/
@media (max-width: 800px) {
}

/*Especificaciones para celulares*/
@media (max-width: 320px) {
  * {
    max-width: 320px;
  }
  /* Header */
  #logoAlura {
    display: block;
    margin: 5px;
    width: 60px;
    height: 24px;
  }

  #mainArea {
    max-width: 310px;
    height: auto;
    display: block;
  }

  #mainArea textarea {
    background-color: #dddddd;
    border: none;
    font-weight: 400;
    font-size: 20px;
    font-family: "Inter";
    font-style: normal;
    resize: none;    
  }

  ::-webkit-input-placeholder {
    color: #0a3871;
  }

  /*Downside*/
  #rectangle {
    background: #dddddd;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    text-align: center;
    height: 90vh;
  }

  #mainImg {
    display: none;
  }

  #rectangleText {
    align-items: flex;
  }

  #rectangleText1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    font-weight: bold;
    color: #343a40;
    padding: 10px;
  }

  #rectangleText textarea {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    border: none;
    resize: none;
    background: #dddddd;    
  }

  textarea::-webkit-scrollbar {
    width: 0px;
  }

  .bigTextArea {
    margin-top: 0px !important;
    font-size: 30px !important;
    font-weight: 500 !important;
  }

  #disclaimerImg {
    width: 16px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #disclaimerText {
    width: 205px;
    height: 18px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  /*Buttons */
  #buttonArea {
    max-width: 300px;
  }

  .button {
    box-sizing: border-box;
    padding: 12px;
    width: 300px;
    height: 67px;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    text-align: center;
    color: #0a3871;
  }

  #encriptar {
    margin-bottom: 5px;
  }

  .button:hover {
    background: #0a3871;
    color: #d8dfe8;
  }

  #copiar {
    display: none;
    box-sizing: border-box;
    padding: 12px;
    width: 336px;
    height: 67px;
    top: 265px;
  }
}
